{% extends "base.twig" %}

{% block title %}Action Page{% endblock %}

{% block content %}
  <h2>{{commandAction|capitalize}} Results</h2>
  <div>
    TBD
  </div>
  <br>
  <a href="/">Home</a>
{% endblock %}