{% extends "base.twig" %}

{% block title %}Action Page{% endblock %}

{% block content %}
  <h2>{{commandAction|capitalize}} Results</h2>
  <div>
    {% if commandAction == 'list' %}
      {% for result in results %}
        {{result.name|capitalize}} -- {{result.id}}
        <br>
      {% endfor %}
    {% endif %}
  </div>
  <br>
  <a href="/">Home</a>
{% endblock %}