{% extends "base.twig" %}

{% block title %}Discord API Commands Home{% endblock %}

{% block content %}
<h2>Discord API Command Actions</h2>
<form action="/command" method="POST">
  <label for="command-action">Command Options</label>
  <select name="command-action">
    <option value="" selected></option>
    <option value="create">Create</option>
    <option value="list">List</option>
    <option value="delete">Delete</option>
  </select>
  <br><br>
  <input name="create" value="Run" type="submit">
</form>
{% endblock %}
